:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  background-color: rgb(152, 184, 252);
  font-family: cursive;
  color: rgb(0, 0, 110);
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

#content {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 24px;
  gap: 20px;
  text-align: center;
}

.option-items {
  font-size: 16px;
  font-weight: 800;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  color: rgb(243, 243, 253);
  background: linear-gradient(180deg, #757aaf, #333e8a);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(53, 29, 2, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
}

button.option-items:hover, #c-size-select:hover {
  background: linear-gradient(180deg, #2d39b5, #021069);
}

#brushColor,
#c-size-select {
  width: 100%;
}

#c-size-select {
  text-align: center;
}

#c-size-select option {
  background-color: #021069;
  color: rgb(243, 243, 253);
}

#brushColor {
  padding: 0;
  height: 2.5em;
}

.active {
  background: linear-gradient(180deg, #2d39b5, #021069);
}

#container {
  display: grid;
  width: 600px;
  height: 600px;
  background-color: white;
  border: 2px solid rgb(42, 42, 42);
  box-shadow: 3px 5px 10px rgba(89, 89, 89, 0.568),
    -3px -5px 10px rgba(89, 89, 89, 0.568);
  border-radius: 2px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-items {
  text-align: center;
  user-select: none;
}

@media screen and (max-width: 750px) {
  #content {
    flex-direction: column-reverse;
  }
  #container {
    width: 100%;
    height: 70vh;
  }
  #options {
    margin-bottom: 20px;
  }
}